// dark theme - default theme
$primary-color: (
  "1": #f18eb0,
  "2": #bb778f65,
  "3": #88445cbb,
);
$secondary-color: (
  "1": #e4b78166,
  "2": #ffc180,
  "3": #e69533,
);

$tertiary-color: (
  "1": #8ce99a,
  "2": #49e9a6,
  "3": #40bf6a11,
);

$accent-color: (
  "1": #0f6e7bee,
  "2": #00aacc,
  "3": #40d4e7,
);

$error-color: (
  "1": #c87258,
  "2": #e34e1c,
  "3": #501502ee,
);

$light-color: #ddd5d7;
$dark-color: #1f191b;

$grey-color: (
  "1": #322a2d,
  "2": #f18eb013,
  "3": #cbbec2,
);

//light theme
